* {
    font-family: 'Roboto', sans-serif;
    outline: 1px solid red;
} 
.top-content, .footer {
    background-color: #1F2937;
    margin: 0;
}

.top-content {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px 10%;
}

.hero {
    display: flex;
    margin: 7% 10%;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

#hero-secondary-text {
    margin: 4px 0;
}

#hero-secondary-text, .header-link-text, .footer, .hero-right {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-link-text {
    display: flex;
    gap: 18px;
}

.hero-right {
    background-color: #6D747D;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 40%;

}

.hero-left {
    display: flex;
    flex-basis: 70%;
}

button {
    background-color: #3B82F6;
    color: #F9FAF8;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 30px;
    border: 0;
    margin-top: 6px;
}

.footer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 30px 0;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 20%;
    margin-bottom: 130px;
}

.info_header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    margin-bottom: 40px;
}

.info_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
}

.info_box {
    outline: 4px solid #3B82F6;
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    border-radius: 8px;
}

.info_subtext {
    font-size: 18px;
    color: #777E89;
    text-align: center;
    width: 100%;
    margin-top: 8px;
}

.info_subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
}