* {
    font-family: 'Roboto', sans-serif;
    /* outline: 1px solid red; */
} 
.top-content, .footer {
    background-color: #1F2937;
}

.top-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px 180px;
}

.hero {
    display: flex;
    margin: 100px 180px;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

#hero-secondary-text {
    margin: 4px 0;
}

#hero-secondary-text, .header-link-text, .footer, .hero-right {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-link-text {
    display: flex;
    gap: 18px;
}

.hero-right {
    background-color: #6D747D;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 50%;
}

.hero-left {
    display: flex;
    flex-basis: 50%;
}

button {
    background-color: #3B82F6;
    color: #F9FAF8;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 30px;
    border: 0;
    margin-top: 6px;
}

.footer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 30px 0;
}